# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

.idea
.vscode
*/.env.local
*/**/*.js

# Serverless directories
*/.serverless

# Webpack directories
*/.webpack